<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/Grassfish1996/plisttest/raw/main/%E9%98%B3%E6%B1%9F%E5%AE%8F%E6%97%BA%E7%A7%BB%E5%8A%A8_1.1.2.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.baidu.com/img/flexible/logo/pc/result@2.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.baidu.com/img/flexible/logo/pc/result@2.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.baosight.ionic.inteliManu</string>
				<key>bundle-version</key>
				<string>1.1.2</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>阳江宏旺移动</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
